h1 {
    color: #222;
    text-align: center;
    font-size: 40px;
  }
  
  h2 {
    color: #222;
    text-align: center;
  }
  
  img {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    width: 250px;
    height: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  img:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  } 